.header {
    padding: 20px;
    margin: 0;
}
h1 {
    background-color: pink;
    color: red;
    text-align: center;
 }
.cat {
    height: 1000px;
    width: 100%
    background-position: center;
}
.float-left{
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
}